

h1 {
    font-size: 28px;
    margin-left: 80px;
    font-family:'Gilroy-Bold';
}

.header-nav {
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 478px;
}

.header-nav ul li a {
    color: #FFFFFF;
}

.icon-down-arrow {
    margin-left: 12px;
}

.icon-bag {
    margin-right: 84px;

}

@media screen and (max-width: 680px) {

    h1 {
        margin-left: 40px;
    }

    .header-nav {
        flex-direction: column;
        margin-top: 20px;
        align-items: baseline;
    }

    ul {
        display: flex;
        width: 90%;
        justify-content: space-between;
        padding: 0px;
        margin: 10px 0;
        margin-left: 22px;
    }

    .icon-bag {
        position: absolute;
        margin-left: 285px;
        width: 22px
    }
 }