

h1 {
    font-size: 28px;
    margin-left: 80px;
    font-family:'Gilroy-Bold';
}

.header-nav {
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 478px;
}

.header-nav ul li a {
    color: #FFFFFF;
}

.icon-bag {
    margin-right: 84px;
}