footer {
    margin-top: 88px;
    width: 100%;
    height: 360px;
    background: #F7F7F7;
}

.main-footer {
    display: flex;
    flex-direction: column;
}

h6 {
    font-family: 'DMSans-Regular';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
    margin-top: 50px;
    margin-left: 88.61px;
    margin-bottom: 12px;
    color: #F6973F;
}

.social-links {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.social-links a {
    width: 40px;
    margin-right: 15px;
}

 footer div ul li a {
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 160%;
    color: #1E1E1E;
    opacity: 0.8;
}

.ul-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 84px;
}

.icon-fb {
    width: 14.35px;
    height: 24.19px;
    margin-bottom: 22.82px;
}

.icon-tt {
    width: 28.28px;
    height: 19.37px;
    margin-bottom: 27.46px;
}

.icon-ista {
    width: 28.92px;
    height: 24.38px;
    margin-bottom: 44px;
}

.end-footer {
    display: flex;
    margin-left: 189.31px;
}

.copyright {
    font-family: 'DMSans-Regular';
    font-style: normal; 
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #1E2833;
    mix-blend-mode: normal;
    opacity: 0.5; 
    margin-right: 683px;
}
.terms {
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 160%;
    color: #1E1E1E !important;
    opacity: 0.8;
    margin-right: 40.28px;
}
.privacy {
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 160%;
    color: #1E1E1E;
    opacity: 0.8;
}